<div class="header">
  <button class="back-button" (click)="goBack()">&#8592;</button>
  <h2 class="title-header">La Dolce Crema</h2>
</div>

<div class="welcome-container">
  <div class="content">
    <h3 class="cancelled-title">Pedido Cancelado</h3>
    <div class="sorvete-info">
      <p class="sorvete-name">{{ sorvete?.name }}</p>
      <p class="order-info">Valor: R$ {{ total | number: '1.2-2' }}</p>
    </div>
    <div class="content-button">
      <button class="cancel-button">Pedido Cancelado</button>
    </div>
  </div>
</div>
