<div class="header">
    <button class="back-button" (click)="goBack()">&#8592;</button>
    <h2 class="title-header">La Dolce Crema</h2>
    <button class="next-button" (click)="goNext()">&#8594;</button>
</div>
<div class="welcome-container">
    <div class="content">
        <h3 class="cancelled-title">Pedido Pronto</h3>

        <div class="sorvete-info">
            <button class="sorvete-name">Sorvete de Chocolate</button>
        </div>

        <p class="price">Valor: 10,70</p>

        <div class="content-button">
            <button class="cancel-button">Pedido Pronto</button>
        </div>
    </div>
</div>
