<div class="header">
  <button class="back-button" (click)="goBack()">&#8592;</button>
  <h2 class="title-header">La Dolce Crema</h2>
</div>
<div class="welcome-container">
  <div class="content">
    <h3 class="cancelled-title">Pedidos Cancelado</h3>

    <div class="sorvete-info">
      <button class="sorvete-name">Sorvete de Chocolate</button>
    </div>

    <p class="price">Valor: 10,70</p>

    <div class="content-button">
      <button class="cancel-button">Pedido Cancelado</button>
    </div>
  </div>
</div>
